---
layout: page
title: Tags
---
<section class="list">
    <h1 class="title">Tags</h1>

    {% for tag in site.tags %}
        <a class="item" href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
    {% endfor %}
</section>

<hr>

<section class="tag-list">
    {% for tag in site.tags %}
    <h2 class="title" id="{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>

    <ul class="list">
        {% for post in tag[1] reversed %}
            {% if post.title != null %}
                <li class="item">
                    <a class="url" href="{{ site.url }}{{ post.url }}">
                        <aside class="date"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="breaker"></div>
    {% endfor %}
</section>
