{% comment %}
  Fall back to the site owner when a post omits `author:` in its front matter,
  so the block never renders blank with a broken image.
{% endcomment %}
{% assign author = site.authors[page.author] | default: site.authors[site.title] %}

<section class="author no-disqus">
    <div class="toleft">
        <img
            class="selfie"
            src="{% if author.external-image == true %}{{ author.picture }}{% else %}{{ site.url }}/{{ author.picture }}{% endif %}"
            alt="{{ author.name }}"
        />
    </div>

    <div class="toright">
        <h4 class="name">{{ author.name }}</h4>
        <a class="home" href="{{ site.url }}/">Home</a>
    </div>
</section>
