<footer class="footer-main">
    {{ site.title }} © {{ site.time | date: '%Y' }}

    {% if page.title == "Home" %}
        <p class="extra">
            <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
            by
            <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
            <br>
            Augmented by
            <a class="link" href="https://claude.ai">Claude<img class="spark" src="{{ site.url }}/assets/images/claude-spark.svg" alt="Claude spark logo"></a>
        </p>
    {% endif %}
</footer>
