@use "../base/variables" as *

.social-links
    > .link
        margin: 0
        text-decoration: none
        position: relative
        display: inline-block
        height: 3rem
        width: 4rem
        font-size: 1.8rem
        color: $zeta

        &:hover
            > svg
                color: $delta

        > svg
            vertical-align: -0.125em
            transition: all ease-in-out .2s
